.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  margin-top: 20px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.input {
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  background-color: white;
  color: black;
}

.input:focus {
  box-shadow: 0 0 0 1px rgb(197, 102, 173);
}

.input:disabled {
  background-color: whitesmoke;
  color: #888;
}

.errorInput {
  border-color: #e63946;
}

.errorText {
  font-size: 12px;
  color: #e63946;
}

.helperText {
  font-size: 12px;
  color: #6c6c6c;
}
